@charset "utf8";

@font-face {
    font-family: persian;
    src: url(fonts/B\ Titr\ Bold_0.ttf);
}

body {
    font-family: persian;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font: bolder 900 italic;
    background-image: url(img/earth-night-city-lights-elements-this-128679269.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
}

.comment-form {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: transparent;
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.comment-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.comment-form label {
    display: block;
    margin-bottom: 10px;
}

.comment-form input[type="text"],
.comment-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.comment-form input[type="email"],
.comment-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.comment-form input[type="submit"] {
    width: 80%;
    padding: 15px;
    background-color: rgba(0, 0, 139, 0.589);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1.2s;
    box-shadow: rgba(205, 205, 162, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}

.comment-form input[type="submit"]:hover {
    background-color: rgba(0, 0, 255, 0.589);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

